<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/output.css">
    <title>Bubbling</title>
    <style>
        /* Now this is cascading! */
        body * {
            margin: 10px;
            border: 1px solid blue;
        }
    </style>
</head>
<body>
<!-- This handler is assigned to <div>, but also runs if you click any nested tag like <em> or <code> -->
<div onclick="alert('The handler')">
    <em>If you click on <code class="cursor-pointer">EM</code>, the handler on <code class="cursor-pointer">DIV</code> runs</em>
</div>

<!-- When an event happens on an element, it first runs the handlers on it,
then on its parent, then all the way up on other ancestors -->

<form onclick="alert('form')" class="cursor-pointer">FORM
    <div onclick="alert('div')" class="cursor-pointer">DIV
        <p onclick=alert('p') class="cursor-pointer">P</p>
    </div>
</form>

</body>
</html>