<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Capturing</title>
    <style>
        body * {
            margin: 10px;
            border: 1px solid blue;
        }
    </style>
</head>
<body>

<h1>When you click on 'p':</h1>
<h2>Capturing: html > body > form > div > p</h2>
<h2>Bubbling: p > div > form > body > html</h2>

<form>FORM
    <div>DIV
        <p>P</p>
    </div>
</form>
<script>
    for (let elem of document.querySelectorAll('*')) {
        elem.addEventListener("click", e => alert(`Capturing: ${elem.tagName}`), true)
        elem.addEventListener("click", e => alert(`Bubbling: ${elem.tagName}`))
    }
</script>
</body>
</html>