<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../../css/output.css" rel="stylesheet">
    <title>5</title>
</head>
<body class="bg-yellow-100">
<div class="flex justify-center items-center h-screen gap-14">
    <div class="w-20 h-20 bg-yellow-500 rounded-full"></div>
    <div class="w-20 h-20 bg-yellow-500 rounded-full"></div>
    <div class="w-20 h-20 bg-yellow-500 rounded-full"></div>
</div>
</body>
</html>