<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../../css/output.css" rel="stylesheet">
    <title>8</title>
</head>
<body class="bg-green-100 flex justify-center items-center h-screen">
    <div class="bg-green-400 w-40 h-40 rounded-full">
        <div class="bg-green-600 w-10 h-10 rounded-full">

        </div>
        <div class="bg-green-600 w-10 h-10 rounded-full self-center">

        </div>
    </div>
</body>
</html>