<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <link rel="stylesheet" href="./output.css">-->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="bg-black">
    <h1 class="text-white text-4xl text-center mb-4">Tailwindbattle</h1>
    <h2 class="text-white font-bold text-center">Fußballfeld</h2>

    <div class="mt-10">
        <div class="w-auto h-28 bg-green-700 relative">
            <div class="h-24 w-96 border-white border-4 mx-auto"
            style="clip; transform: translateY(-50%)"></div>
        </div>
        <div class="w-auto h-28 bg-green-500"></div>
        <div class="w-auto h-28 bg-green-700"></div>
        <div class="w-auto h-28 bg-green-500"></div>
        <div class="w-auto h-28 bg-green-700"></div>
    </div>
</body>
</html>