<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LeckerLecker</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<header class="sticky top-0 h-20 w-auto bg-gray-100 text-center flex justify-between items-center px-5">
    <a href="#">
        <img src="//csite.nicepage.com/Images/logo-w.png" alt="no logo :/"
             class="w-36 h-12">
    </a>
    <a href="#">
        <img src="//csite.nicepage.com/Images/Site/icon-close.png" alt="X"
             class="w-7 h-7 p-1 hover:bg-blue-100">
    </a>
</header>
</body>
</html>