<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
<!--    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">-->
    <title>Document</title>

<!--    Dieses Skript wird wohl gebraucht, wenn man beim Hovern Bilder zoomen möchte -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body style="font-family: Montserrat, sans-serif">
<header class="sticky top-0 h-20 w-auto bg-gray-100 text-center flex justify-between items-center px-5">
    <a href="#">
        <img src="//csite.nicepage.com/Images/logo-w.png" alt="no logo :/"
             class="w-36 h-12">
    </a>
    <a href="#">
        <img src="//csite.nicepage.com/Images/Site/icon-close.png" alt="X"
             class="w-7 h-7 p-1 hover:bg-blue-100">
    </a>
</header>

<h1 class="text-center text-4xl mt-2 mb-6">Unsere Galerie</h1>

<main class="text-center mx-20">

    <p class="text-lg font-medium">Mit unserer großen Auswahl an Gerichten aus aller Welt können Sie sich als Reisender
        und wahrer Gourmet fühlen! Bild von
        <a
            href="https://nicepage.com/de/html-templates/preview/restaurantfotos-5673117?device=desktop"
            class="text-blue-300 font-bold">Freepik
        </a>
    </p>

<!--
        Custom Styles hinzuzufügen, klappt noch nicht so recht wie ich will
        Mein Ziel ist mit 'gallery' alle Bilder im div auf einmal zu bearbeiten,
        ohne, dass andere Bilder betroffen sind. Kann nicht so schwer sein.
-->
    <div class="grid grid-cols-1 gap-8 mt-16">
        <img src="../../images/garage_art.jpeg" alt="no pic :/"
             class="rounded-xl">

<!--        TODO: Bilder zoombar machen, ohne, dass es das Layout zerschießt-->
<!--        <picture class="rounded-lg overflow-hidden block">-->
        <img src="../../images/living_room.jpeg" alt="no pic :/"
             class="rounded-xl">
<!--                 class="hover: scale-50 ease-in duration-200">-->
<!--        </picture>-->
        <img src="../../images/river_night.jpeg" alt="no pic :/"
             class="rounded-xl">
        <img src="../../images/wheat_plain.jpeg" alt="no pic :/"
             class="rounded-xl">
    </div>

    <a href="#">
        <button class="w-80 px-2 py-8 mt-16 text-white font-bold uppercase bg-blue-400 hover:bg-blue-500 rounded-full">
            Online bestellen
        </button>
    </a>

</main>

<footer class="bg-neutral-800 w-full h-28">
<!--    Das ist ein Beispiel von https://codesandbox.io/p/sandbox/tailwind-card-image-zoom-in-f0q27m?file=%2Findex.html%3A8%2C1-9%2C1
        in dem der Hover-Zoom funktioniert -->

<!--    <div class="p-4 m-8 w-80 bg-white shadow-md rounded-xl">-->
<!--        <picture class="rounded-lg overflow-hidden block">-->
<!--            <img alt=""-->
<!--                    class="hover:scale-125 ease-in duration-150"-->
<!--                    src="https://picsum.photos/360/240"-->
<!--            />-->
<!--        </picture>-->

<!--        <h1 class="mt-4 mb-2 text-xl font-bold">Judul Card di sini</h1>-->
<!--        <p class="text-sm text-gray-600">-->
<!--            Keterangan pendek tentang card di sini. Biasanya panjangnya dua sampai-->
<!--            tiga baris, biar terlihat rapi.-->
<!--        </p>-->
<!--    </div>-->

    <p class="text-white text-center pt-10">
        <span class="text-blue-300">
            <a href="#">
                Website Design
            </a>
        </span>
        erstellt mit
        <span class="text-blue-300">
            <a href="#">
                Offline Website Builder
            </a>
        </span>
    </p>

</footer>

<!--    <div class="h-48 w-auto bg-gray-100"></div>-->

</body>
</html>