<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Before Script</p>

    <script>alert("I'm JavaScript!")</script>

    <p>After First Script</p>

    <script src="../../js/javascript_info/part_one/fundamentals/alert.js"></script>

    <p>After Second Script</p>

    <script src="../../js/javascript_info/part_one/fundamentals/variables.js"></script>

    <p>After Third Script</p>


</body>
</html>