<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <link href="/css/fontawesome.css" rel="stylesheet" />
    <link href="/css/brands.css" rel="stylesheet" />
    <link href="/css/solid.css" rel="stylesheet" />
    <title>Task-Tracker</title>
</head>
<body>
    
<div id="border-div" class="w-screen h-1/4 border-black border-4 rounded-xl p-6  " >
    <h1 class="text-2xl font-bold">Task Tracker</h1>
    <div class="border-black border-4 rounded-xl p-[4px]">
        <input class="w-96" type="text" placeholder="Start writing and press enter to create task">
        <button id="input-button">
            <i class="fa-solid fa-right-to-bracket"></i>
        </button>
    </div>
    <div id="parent-div"></div>
</div>

<script src="script.js"></script>

</body>
</html>