<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <link href="/css/fontawesome.css" rel="stylesheet" />
    <link href="/css/brands.css" rel="stylesheet" />
    <link href="/css/solid.css" rel="stylesheet" />
    <title>Task-Tracker</title>

</head>
<body>
<div id="border-div" class="w-3/4 h-1/4 border-black border-2 rounded-lg p-6 mx-4 my-4" >
    <h1 class="text-2xl font-bold mb-2">Task Tracker</h1>
    <div class="w-3/4 border-black border-2 rounded-lg p-[4px] pl-4">
        <label>
            <input class="w-96 outline-none" type="text" placeholder="Start writing and press enter to create a new task...">
        </label>
        <button id="input-button">
            <i class="fa-solid fa-right-to-bracket"></i>
        </button>
    </div>
    <div id="parent-div"></div>
</div>

<script src="script.js"></script>

</body>
</html>